{
  "compilerOptions": {
    "target": "ES2022",
    "lib": ["ES2022", "DOM", "DOM.Iterable"],
    "module": "ESNext",
    "moduleResolution": "bundler",
    "jsx": "react-jsx",
    "useDefineForClassFields": true,
    "allowImportingTsExtensions": false,
    "resolveJsonModule": true,
    "isolatedModules": true,
    "noEmit": true,
    "esModuleInterop": true,
    "forceConsistentCasingInFileNames": true,
    "strict": true,
    "noImplicitAny": true,
    "noImplicitReturns": true,
    "noFallthroughCasesInSwitch": true,
    "skipLibCheck": true,
    "baseUrl": ".",
    "paths": {
      "@/config/*": ["${SRC_DIR}/config/*"],
      "@/components/*": ["${SRC_DIR}/components/*"],
      "@/features/*": ["${SRC_DIR}/features/*"],
      "@/hooks/*": ["${SRC_DIR}/hooks/*"],
      "@/lib/*": ["${SRC_DIR}/lib/*"],
      "@/routes/*": ["${SRC_DIR}/routes/*"],
      "@/types/*": ["${SRC_DIR}/types/*"]
    },
    "types": ["vite/client", "vitest/globals", "@testing-library/jest-dom"]
  },
  "include": ["${SRC_DIR}/**/*.ts", "${SRC_DIR}/**/*.tsx", "vite.config.ts", "vitest.config.ts"],
  "exclude": ["node_modules", "dist"]
}
