<?xml version="1.0" encoding="utf-8"?>
<resources>
    <string name="app_name">${PROJECT_NAME}</string>
    <string name="home_title">Welcome to ${PROJECT_NAME}</string>
    <string name="home_status_ok">Status: OK</string>
    <string name="home_status_loading">Status: Loading…</string>
</resources>
