{
  "expo": {
    "name": "${PROJECT_NAME}",
    "slug": "${PROJECT_SLUG}",
    "version": "0.1.0",
    "orientation": "portrait",
    "userInterfaceStyle": "automatic",
    "assetBundlePatterns": [
      "**/*"
    ],
    "ios": {
      "supportsTablet": true,
      "bundleIdentifier": "com.example.${PROJECT_PACKAGE_ID}"
    },
    "android": {
      "package": "com.example.${PROJECT_PACKAGE_ID}"
    },
    "web": {},
    "extra": {
      "apiBaseUrl": "http://localhost:3000"
    }
  }
}
