{
  "compilerOptions": {
    "target": "ES2022",
    "module": "commonjs",
    "moduleResolution": "node",
    "lib": ["ES2022"],
    "rootDir": "./${SRC_DIR}",
    "outDir": "./dist",
    "esModuleInterop": true,
    "forceConsistentCasingInFileNames": true,
    "resolveJsonModule": true,
    "strict": true,
    "noImplicitAny": true,
    "noImplicitReturns": true,
    "noFallthroughCasesInSwitch": true,
    "skipLibCheck": true,
    "declaration": false,
    "sourceMap": true,
    "removeComments": false,
    "baseUrl": ".",
    "paths": {
      "@/config/*": ["${SRC_DIR}/config/*"],
      "@/lib/*": ["${SRC_DIR}/lib/*"],
      "@/api/*": ["${SRC_DIR}/api/*"],
      "@/middlewares/*": ["${SRC_DIR}/middlewares/*"],
      "@/models/*": ["${SRC_DIR}/models/*"],
      "@/types/*": ["${SRC_DIR}/types/*"]
    },
    "types": ["node", "jest"]
  },
  "include": ["${SRC_DIR}/**/*.ts"],
  "exclude": ["node_modules", "dist", "${SRC_DIR}/tests/**/*", "**/*.spec.ts", "**/*.test.ts"]
}
